server:
  port: 8084

spring:
  application:
    name: alert-service

  datasource:
    url: "jdbc:postgresql://ep-wandering-bird-agnimy3r-pooler.c-2.eu-central-1.aws.neon.tech/AlertServiceDB?user=neondb_owner&password=npg_j3bLEJcONF6r&sslmode=require&channelBinding=require"
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  task:
    execution:
      pool:
        core-size: 5
        max-size: 10
        queue-capacity: 100
    scheduling:
      pool:
        size: 5

# gRPC Configuration
grpc:
  server:
    port: 9095
    reflection-service-enabled: true
    max-inbound-message-size: 4MB
    max-inbound-metadata-size: 8KB
    enable-keep-alive: true
    keep-alive-time: 30s
    keep-alive-timeout: 10s
    permit-keep-alive-without-calls: true

logging:
  level:
    com.smartagri.alert: DEBUG

alert:
  expiry:
    check-interval: 300000 # 5 minutes in milliseconds
  notification:
    retry-attempts: 3
    retry-delay: 5000 # 5 seconds
  statistics:
    log-interval: 3600000 # 1 hour
  stream:
    cleanup-interval: 60000 # 1 minute
    max-idle-time: 300000  # 5 minutes

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true

#Eureka config
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}